/* 
---- CORES ----
    verde: #31B18D;
    vermelho: #CF2B42;
    cinza: #EBDEDE;
    lettering: #0E1528;

 ---- TIPO DE LETRA ----
    Karla, sans-serif, open-source (Google Fonts)

*/

* {
    margin: 0 0 0 0;
}

body {
    background-color: #31B18D;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: inherit;
}

.botao-container {
    margin-top: 20px;
    margin-left: 30%;
}

button:focus {
    outline: 0;
}

a:hover {
    color: #0E1528;
}

/* -------------------------------------------------
/* TEXTOS */

.texto { /*Texto corrido*/
    color: white;
    font-family: 'Karla', sans-serif;
    line-height: 140%;
    font-size: 14pt;
}

.paragraph { /*Texto das perguntas na Home*/
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 30pt;
    line-height: 130%;
    text-decoration: none;
}

.h1 { /*Títulos dos ecrãs*/
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 62pt;
    line-height: 120%;
    opacity: 0.3;
    writing-mode: vertical-rl;
    margin-top: 10%;
    margin-left: -5%;
    letter-spacing: 13px;
}

.h2 { /*"Sabes a quem recorrer?"*/
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 32pt;
    line-height: 120%;
    opacity: 0.3;
    letter-spacing: 2px;
}

.h3 { /*Tópicos*/
    color: #31B18D;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 22pt;
}

.h4 { /*Títulos dentro dos border-rects [jornadas] */
    color: #0E1528;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 18pt;
}

#texto-info {
    display: none;
    font-size: 19px;
    margin-top: 20px;
    margin-left: 0%;
    font-family: 'Karla', sans-serif;
    color: #0E1528;
    width: 90%;
    line-height: 150%;
}

/* -------------------------------------------------
/* BOTÕES & ICONES */
.setas {
    margin-top: 7%;
    margin-bottom: 7%;
    cursor: pointer;
}

.anterior {
    width: 27px;
}

.anterior:hover {
    transform: scale(1.4, 1.4);
}

.proxima {
    width: 27px;
    margin-left: 72%;
}

.proxima:hover {
    transform: scale(1.4, 1.4);
}

#resultados {
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    margin-left:-40px;
    margin-right: -40px;
    background-color: #0E1528;
}

#resultados:hover {
    background-color: white;
    color: #0E1528;
    box-shadow: 0px 2px 10px #0E1528;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

button {
    height: 3em;
    width: 200px;
    padding: 1.5em auto;
    margin: 1em auto;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
}

/* -------------------------------------------------
/* COLUNAS */

.left-column {
    float: left;
    width: 10%;
}

.right-column {
    float: left;
    width: 30%;
}

.center-column {
    float: left;
    width: 45%;
    margin-top: 12%;
}

.text-column {
    float: left;
    width: 40%;
    margin-top: 7%;
}

.row:after { /* remove floats depois das colunas */
    content: "";
    display: table;
    clear: both;
}

.menu-column {
    float:left;
    width: 50%;
    margin-top: 10%;
}


/* -------------------------------------------------
/* RETANGULOS VERMELHOS */


.border-rect { /*rect das jornadas*/
    width: 99%;
    height: 100px;
    border: 1.4px solid #0E1528;
}

.border-rect:hover {
    border: 1.4px solid white;
}

.percentage {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #CF2B42;
    overflow-x: hidden;
    transition: 4s;
}

/* -------------------------------------------------
/* MENU */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0E1528;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    margin-left: 10%;
    text-decoration: none;
    font-size: 90px;
    font-family: 'Karla', sans-serif;
    line-height: 130%;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #CF2B42;
}

.sidenav .closebtn {
    position: absolute;
    top: 45px;
    right: 35px;
    font-size: 70px;
    margin-left: 0px;
}


/* -------------------------------------------------
/* GRELHA DE PERCENTAGEM */
.ruler {
    background-color: transparent;
    position: relative;
    width: 100vw;
    height: 20px;    
}

.ruler .cm, .ruler .mm {
    position: absolute;
    border-left: 3px solid #0E1528;
    height: 20px;
    width: 10%;
}

.ruler .cm:after {
    position: absolute;
    bottom: -20px;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 11pt;
    color: #0E1528;
    margin-left: -11px;
}
   
.ruler .mm {
    height: 0px;
}
   
.ruler .mm:nth-of-type(5) {
    height: 10px;
    color: #CF2B42;
}
   
.ruler .cm:nth-of-type(1) {
    left: 0%;
}
   
.ruler .cm:nth-of-type(2) {
    left: 10%;
}

.ruler .cm:nth-of-type(2):after {
    content: "10%";
}
   
.ruler .cm:nth-of-type(3) {
    left: 20%;
}
   
.ruler .cm:nth-of-type(3):after {
    content: "20%";
}
   
.ruler .cm:nth-of-type(4) {
    left: 30%;
}

.ruler .cm:nth-of-type(4):after {
    content: "30%";
}
   
.ruler .cm:nth-of-type(5) {
    left: 40%;
}

.ruler .cm:nth-of-type(5):after {
    content: "40%";
}

.ruler .cm:nth-of-type(6) {
    left: 50%;
}

.ruler .cm:nth-of-type(6):after {
    content: "50%";
}

.ruler .cm:nth-of-type(7) {
    left: 60%;
}

.ruler .cm:nth-of-type(7):after {
    content: "60%";
}
   
.ruler .cm:nth-of-type(8) {
    left: 70%;
}
   
.ruler .cm:nth-of-type(8):after {
    content: "70%";
}
   
.ruler .cm:nth-of-type(9) {
    left: 80%;
}
   
.ruler .cm:nth-of-type(9):after {
    content: "80%";
}
   
.ruler .cm:nth-of-type(10) {
    left: 90%;
}

.ruler .cm:nth-of-type(10):after {
    content: "90%";
}

.ruler .cm:nth-of-type(11) {
    left: 100%;
}

.ruler .cm:nth-of-type(11):after {
    content: "100%";
}

.ruler .mm:nth-of-type(1) {
    left: 10%;
}

.ruler .mm:nth-of-type(2) {
    left: 20%;
}

.ruler .mm:nth-of-type(3) {
    left: 30%;
}
   
.ruler .mm:nth-of-type(4) {
    left: 40%;
}
   
.ruler .mm:nth-of-type(5) {
    left: 50%;
}

.ruler .mm:nth-of-type(6) {
    left: 60%;
}

.ruler .mm:nth-of-type(7) {
    left: 70%;
}

.ruler .mm:nth-of-type(8) {
    left: 80%;
}

.ruler .mm:nth-of-type(9) {
    left: 90%;
}

/* -------------------------------------------------
*/
.accordion {
    width: 100%;
    height: 50px;
    cursor: pointer;
    text-align: left;
    font-size: 20px;
    transition: 0.3s;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    background-color: #0E1528;
    color: #31B18D;
    border-radius: 3px;
}

.active, .accordion:hover {
    color: #0E1528;
    background-color: white;
}

.panel {
    display: none;
    background-color: #31B18D;
    overflow: hidden;
    color: white;
}