/* 
---- CORES ----
    verde: #31B18D;
    vermelho: #CF2B42;
    cinza: #EBDEDE;
    lettering: #0E1528;

 ---- FONTES ----
    paragrafos: Karla, 25pt, Bold (700)
    titulos: Poppins

*/

* {
    margin: 0 0 0 0;
}

html {
    width: 100vw;
}

body {
    background-color: #31B18D;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: inherit;
}

/* -------------------------------------------------
/* TEXTOS */

.paragraph {
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 33pt;
    line-height: 130%;
    text-decoration: none;
}

.paragraph-menu {
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 40pt;
    line-height: 210%;
    text-decoration: none;
}

.paragraph-menu:hover {
    color: #CF2B42;
    cursor: pointer;
    text-decoration: underline;
}

.h1 {

}

.h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32pt;
    line-height: 120%;
    opacity: 0.3;
}

.h3 {

}

#texto-adicional {
    display: none;
    font-size: 10px;
    margin-top: 10px;
    padding: 5px;
}

#informacao:hover #texto-adicional {
    display: block;
    color: #EBDEDE;
    font-family: 'Poppins', sans-serif;
    font-size: 13pt;
}

/* -------------------------------------------------
/* BOTÕES */
.plus-botao {
    cursor: pointer;
    font-size: 20pt;
    color: #EBDEDE;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

/* -------------------------------------------------
/* COLUNAS */

.left-column {
    float: left;
    width: 15%;
}

.right-column {
    float: left;
    width: 30%;
}

.center-column {
    float: left;
    width: 40%;
    margin-top: 15%;
}

.row:after { /* remove floats depois das colunas */
    content: "";
    display: table;
    clear: both;
}

.menu-column {
    float:left;
    width: 50%;
    margin-top: 10%;
}

/* -------------------------------------------------
/* RETANGULOS VERMELHOS */

.rect-index {
    width: 5.1%;
    height: 100%;
    background: #CF2B42;
    -webkit-transition: width 3s; 
    transition: width 3s; 
}

.rect-index:hover {
    width: 85.1%;
    cursor: pointer;
    display: block;
}


/* -------------------------------------------------
/* MENU */
.menu-barras {
    display: inline-block;
    cursor: pointer;
    margin-top: 20%;
    margin-left: 130%;
}

.barra1, .barra2, .barra3 {
    width: 35px;
    height: 5px;
    background-color: #EBDEDE;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-cruz {

}




/* -------------------------------------------------
/* GRELHA DE PERCENTAGEM */
.ruler {
    background-color: transparent;
    position: relative;
    width: 100vw;
    height: 20px;    
}

.ruler .cm, .ruler .mm {
    position: absolute;
    border-left: 1px solid #0E1528;
    height: 20px;
    width: 10%;
}

.ruler .cm:after {
    position: absolute;
    bottom: -15px;
    font-family: 'Karla', sans-serif;
    font-size: 10pt;
    color: #0E1528;
}
   
.ruler .mm {
    height: 0px;
}
   
.ruler .mm:nth-of-type(5) {
    height: 7px;
    color: #CF2B42;
}
   
.ruler .cm:nth-of-type(1) {
    left: 0%;
}
   
.ruler .cm:nth-of-type(2) {
    left: 10%;
}

.ruler .cm:nth-of-type(2):after {
    content: "10%";
}
   
.ruler .cm:nth-of-type(3) {
    left: 20%;
}
   
.ruler .cm:nth-of-type(3):after {
    content: "20%";
}
   
.ruler .cm:nth-of-type(4) {
    left: 30%;
}

.ruler .cm:nth-of-type(4):after {
    content: "30%";
}
   
.ruler .cm:nth-of-type(5) {
    left: 40%;
}

.ruler .cm:nth-of-type(5):after {
    content: "40%";
}

.ruler .cm:nth-of-type(6) {
    left: 50%;
}

.ruler .cm:nth-of-type(6):after {
    content: "50%";
}

.ruler .cm:nth-of-type(7) {
    left: 60%;
}

.ruler .cm:nth-of-type(7):after {
    content: "60%";
}
   
.ruler .cm:nth-of-type(8) {
    left: 70%;
}
   
.ruler .cm:nth-of-type(8):after {
    content: "70%";
}
   
.ruler .cm:nth-of-type(9) {
    left: 80%;
}
   
.ruler .cm:nth-of-type(9):after {
    content: "80%";
}
   
.ruler .cm:nth-of-type(10) {
    left: 90%;
}

.ruler .cm:nth-of-type(10):after {
    content: "90%";
}

.ruler .cm:nth-of-type(11) {
    left: 100%;
}

.ruler .cm:nth-of-type(11):after {
    content: "100%";
}

.ruler .mm:nth-of-type(1) {
    left: 10%;
}

.ruler .mm:nth-of-type(2) {
    left: 20%;
}

.ruler .mm:nth-of-type(3) {
    left: 30%;
}
   
.ruler .mm:nth-of-type(4) {
    left: 40%;
}
   
.ruler .mm:nth-of-type(5) {
    left: 50%;
}

.ruler .mm:nth-of-type(6) {
    left: 60%;
}

.ruler .mm:nth-of-type(7) {
    left: 70%;
}

.ruler .mm:nth-of-type(8) {
    left: 80%;
}

.ruler .mm:nth-of-type(9) {
    left: 90%;
}

/* -------------------------------------------------






